/*RESET CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/

#main{
	width: 90%;
	margin: 0 auto;
}

/*===buttons=======*/

.input{
    width: 5%;
}

.keuze{
    background-color: #7e7672; /* blue */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
	align-items: center;
    margin-bottom: 10px;
}

.keuze:hover{
    background-color: #444; /* Green */
    color: white;
}

.knop {
    background-color: #7e7672; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 49%;
	align-items: center;
    margin-bottom: 10px;

}

.knop:hover {
    background-color: #444; /* Green */
    color: white;
}

/*=======indeling========*/
.buttons_group{
	width: 45%;
	margin: 10px;
    height: 20px;
}

form{
    text-align: center;
}

.logs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.logs_group{
	width: 30%;
	margin: 10px;
}

.logs_group figure:hover{
	box-shadow: 2px 2px 3px 2px gray;
}

.devices{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.devices_group{
	width: 45%;
	margin: 10px;
}

.devices_group figure{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.devices_group figure:hover{
	box-shadow: 2px 2px 3px 2px gray;
}

.devices_group figure:hover img{
	transform: scale(1.25);
}

.devices_group figure figcaption{
	position: relative;
    top: -29px;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding:5px;
    color:white;
}

.devices_group figure img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

/*===============*/

#blind{
	float: left;
	width: 600px;
	height: 400px;
	background: url(../images/blind.jpg) no-repeat center;
	display: block;
}

#fan{
	float: left;
	width: 600px;
	height: 400px;
	background: url(../images/fan.jpg) no-repeat center;
	display: block;
}

/*Background*/


bgimg-1 {
  	background-image: url("../images/background.jpg");
  	height: 100%;
	position: relative;
  	opacity: 0.65;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


/*=========================*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	background: #ffffff;
	color: #555;
    min-height: 100%;

}

a {

	color: #FFF;
	text-decoration: none;
	font-weight: normal; /*medium*/
    text-transform: uppercase;

}

a:hover {

	color: #444;

}

img {

	width: 100%;

}

/*NAV*/

header {

	background: #7e7672;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}

#logo{

	margin: 20px 50px 20px;
	float: left;
	width: 295px;
	height: 37px;
	background: url(../images/SmartBlinds.png) no-repeat center;
	display: block;

}

#facebook{
	float: left;
	width: 50px;
	height: 50px;
	background: url(../images/fblogo.png) no-repeat center;
	display: block;
}

#twitter{
	float: left;
	width: 50px;
	height: 50px;
	background: url(../images/twlogo.png) no-repeat center;
	display: block;
}

#youtube{
	float: left;
	width: 65px;
	height: 50px;
	background: url(../images/ytlogo.png) no-repeat center;
	display: block;
}

#linkedin{
	float: left;
	width: 50px;
	height: 50px;
	background: url(../images/inlogo.png) no-repeat center;
	display: block;
}

nav {

	float: right;
	padding: 20px;

	
}


ul {

	list-style: none;
    margin-right: 50px;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #6b1201;
	font-weight: bold;

}

.active {
    color: #b5b5b5;
}

/*CONTENT*/

section {

	margin: 80px auto 40px;
	max-width: 980px;
    max-height: 600px;
	position: relative;
	padding: 20px 20px 20px 20px;

}

h1 {

	font-size: 2em;
	color: #222222;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

/*TABLE*/

.row {
  padding: 0.5em;
  text-align: left;
}

table {
  width: 100%;
}

table tr th {
  padding: 0.5em;
  text-align: left;
  background-color: #7e7672;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #ddd;
}

table tr td {
  padding: 0.5em;
  text-align: left;
}

/*BUTTONS*/

 .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
}

.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.btn.block {
    display: block !important;
}

.btn.circular {
  border-radius: 50em !important;
}


/*FOOTER*/

.footer-distributed{
	background-color: #524a46;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 14px sans-serif; /*medium*/
	padding: 45px 80px;
	margin-top: 80px;
    position: absolute;
}

.footer-distributed .footer-left p{
	color: #b6b6b6;
	font-size: 12px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:14px;
	font-weight: normal;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    padding-right: 5px;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 230px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/*MEDIA QUERY = RESPONSIVE AANPASSINGEN*/
@media only screen and (max-width : 740px) {

	header {

			position: relative;

	}

	nav {
		width: 100%;
		padding: 0px;

	}

	nav ul{ 

			display: block;
			position: relative;
			background: #FFF;
			width: 100%;

	}

	nav li {

			text-align: center;
			width: 100%;
			margin-bottom: 4px;
			padding: 10px 0px;
			background: #CCC;
			

	}

	img {

		margin-top: 20px;

	}

	table thead {
	    display: none;
	 }

	 table tr {
	    display: block;
	 }

	 table tr td {
	    border-bottom: none;
	    display: block;
	    padding: 0 0.5em;
	 }

	 .footer-distributed .footer-left,
		.footer-distributed .footer-right{
			text-align: center;
	}

	.footer-distributed .footer-right{
			float: none;
			margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
			line-height: 1.8;
	}


}


*{
	margin: 0%;
}

.devices{
	margin: 50px 0px 300px 0px;
}

/*

        html, body{
            min-height: 100%;
        }

        .footer-distributed{
            min-height: 100%;
            position: fixed;
        }
*/

footer{
	min-height: 150px;

}

/*Device*/

.device {
	margin: auto;
	width: 62%;
    padding: 20px;
    overflow: hidden;
}

.device_image{
	width: 300px;
	height: 200px;
	margin-right: 15px;
    float: left;
}

.device_center{
    /*border: 3px solid green;*/
}

.scene{
  	width:500px;
	min-height: 300px;
	margin: auto;
  	background: #d6d6d6;
  	border-radius:10px;
  	margin-bottom:20px;
  	padding:20px;
}

.scene_center{
	text-align: center;
	font-size: 2em;
	color: #222222;
	line-height: 1.15em;
	margin: 10px 0 ;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 125px;
	padding: 25px;
}

footer {
	background-color: #2196F3;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}
/*=========================*/
/*switch*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}