{% macro build_figure(naam) %}
    <figure>


        <img
                src="{{ url_for("static",filename="images/" + naam + ".jpg") }}"
                alt=""
        >


{#        <figcaption>#}
{#            {{ naam }}#}
{#        </figcaption>#}


    </figure>
{% endmacro %}

{% macro devices(naam) %}
        <img
                src="{{ url_for("static",filename="images/" + naam + ".jpg") }}"
                alt=""
        >
{% endmacro %}

{% macro logs(naam) %}
    <img
        src="{{ url_for("static", filename="images/" + naam + ".jpg") }}"
        alt=""
    >
{% endmacro %}