{% extends "masterpage.html" %}

{% block title %}
    {{ devicedetail[1] }}
{% endblock %}

{% block devices %}
    class="active"
{% endblock %}

{% block body %}
{% for device in devicedetail %}

    <div class="device_center">
        <div class="device">
            <div class="device_image">{{ macro.build_figure(device[1]) }}</div>
            <h1>Devicename: {{ device[1] }}</h1>
            <h1>Deviceid: {{ device[0] }}</h1>
        </div>

    {% if device[0]==1 %}
        <form class="container" method="post">
            <div class="scene_center">Scene</div>
            <br>
            <form method="post" class="scene">
                <div class="invoer">If the sensor detects:
                <input class="keuze" type="submit" value="light" name="button">
                 or <input class="keuze" type="submit" value="no light" name="button">
                then the blind will open itself, otherwise it will close itself.
                </div> <br>
                <input class="knop" type="submit" value="update blindscene" name="button">
                <input class="knop" type="submit" value="turn off blindscene" name="button">
            </form>

    {% elif device[0]==2 %}

            <form class="container" method="post">
                <div class="scene_center">Scene</div>
                <br>
                <div class="invoer">If the roomtemperature is:
                <input class="keuze" type="submit" value="warmer" name="button">
                 or <input class="keuze" type="submit" value="cooler" name="button"> then
                <input class="input" placeholder="15 °c" name="temperatuur"> then the fan will automatically turn or, otherwise it will turn off itself.
                </div>
                <br>
                <input class="knop" type="submit" value="update fanscene" name="button">
                <input class="knop" type="submit" value="turn off fanscene" name="button">
{#                <br>#}
{#                <input placeholder="naam" name="naam" required><br>#}
{#                <input class="checkbox" type="checkbox" name="geraden" value="geraden_aan_uit">#}
{#                <div class=" invoer disabled">Als de temperatuur:#}
{#                <select name="Groter_Kleiner">#}
{#                <option value="Groter">Groter</option>#}
{#                <option value="Kleiner">Kleiner</option></select>is dan: <input class="graden" placeholder="" name="Graden" required>°C <select name="graden_groter_kleiner">#}
{#                <option value="Open">draait</option>#}
{#                <option value="Sluit">stopt</option>#}
{#                </select>#}
{#                de ventilator.#}
                </div>
                <input class="knop" type="submit" value="Warmer dan" name="button">
                <input class="knop" type="submit" value="Kouder dan" name="button">
                <input class="knop" type="submit" value="Updaten" name="button">

            </form>

    {% endif %}

    </div>


    <script>
    function setColor(btn,color){

        var property=document.getElementById(btn);
       if (window.getComputedStyle(property).backgroundColor == 'rgb(110, 110, 110)') {
          property.style.backgroundColor=color;
       }
        else {
          property.style.backgroundColor = "#6e6e6e";
        }
      }

    </script>


{% endfor %}
{% endblock %}