{% extends "masterpage.html" %}

{% block title %}
    Logs
{% endblock %}

{% block logs %}
    class="active"
{% endblock %}

{% block body %}
    <div class="body"><h1>Logs</h1></div>

    <div id="main">
        <div class="logs">
            {% for logs in logskeuze %}
                <div class="logs_group">
                    <figure>
                        <a href="{{ url_for("logskeuze",idchoice=logs[0])}}">
                        {{ macro.logs(logs[1])}}
                        </a>
                        <figcaption>{{ logs[1]}}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>



{#                <td>{% if log[0] == 1 %} activated {% else %} deactivated {% endif %}</td>#}
{#                <td>{{ log[1] }}</td>#}
{#                <td>{{ log[2] }}</td>#}


{% endblock %}